* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: radial-gradient(#f8fff4, #a1a79d);
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #1E1E1E;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

header h2 {
    font-size: 1.5em;
    font-weight: normal;
    margin-top: 0;
}

div {
    margin: 10px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding-left: 20px;
    padding-right: 20px;
}

h3 {
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
    font-style: italic;
}

img {
    display: block;
    margin: 0 auto 20px;
    width: 200px;
    height: auto;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    text-decoration-color: coral;
    display: flex;
    justify-content: center;
    gap: 20px;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

li img {
    margin-right: 10px;
    width: 50px;
    height: auto;
}

a {
    text-decoration: none;
    color: #007BFF;
    font-size: 1.2em;
    padding: 5px;
    display: inline-block;
    transition: color 0.3s ease;
}

a:hover {
    color: red;
}

li {
    margin-bottom: 10px;
}

html, body {
    height: 100%;
}
