<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ligas de Fútbol</title>
</head>
<body>
<h1>Equipos de La Liga</h1>
<ul>
    <!-- Iterar sobre los equipos de La Liga -->
    <li th:each="liga : ${ligas.laliga}">
        <span th:text="${liga.equipo}">Equipo</span> -
        <span th:text="${liga.lugar}">Lugar</span> -
        <span th:text="${liga.mejor_jugador}">Mejor Jugador</span>
    </li>
</ul>

<h1>Equipos de Premier League</h1>
<ul>
    <!-- Iterar sobre los equipos de Premier League -->
    <li th:each="liga : ${ligas.premierleague}">
        <span th:text="${liga.equipo}">Equipo</span> -
        <span th:text="${liga.lugar}">Lugar</span> -
        <span th:text="${liga.mejor_jugador}">Mejor Jugador</span>
    </li>
</ul>
</body>
</html>
